@font-face {
    font-family: inter-400;
    src: url(../fonts/inter/Inter-Regular.ttf);
}
@font-face {
    font-family: inter-500;
    src: url(../fonts/inter/Inter-Medium.ttf);
}

@font-face {
    font-family: inter-600;
    src: url(../fonts/inter/Inter-SemiBold.ttf);
}
@font-face {
    font-family: inter-700;
    src: url(../fonts/inter/Inter-Bold.ttf);
}

body {
    background-color: gray;
    margin: 0;
    padding: 20px;
    font-family: inter-400;
    letter-spacing: 0.2px;
}

.product-label {
    display: flex;
    align-items: center;
    font-family: inter-600;
    justify-content: center;
    border-radius: 0 8px 8px 0;
    position: absolute;
    top: -16px;
    left: -6px;
    z-index: 2;
    width: 140px;
    height: 32px;
    font-size: 16px;
    line-height: 22.4px;
}

.product-label img {
    margin-right: 9px;
}

.best-choice-label {
    background-color: #FF5C00;
    color: #fff;
}

.best-value-label {
    display: none;
    background-color: #D5EAFF;
    color: #0B76E0;
}

.product-label:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    transform: rotate(225deg);
    border-width: 4.5px 4.5px 0px 4.5px;
    position: absolute;
    left: 0px;
    bottom: -4px;
}

.best-value-label:after {
    border-color: #88BDF1 transparent transparent transparent;
}

.best-choice-label:after {
    border-color: #B04000 transparent transparent transparent;
}

.item {
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 51px 114px rgba(199, 199, 199, 0.15), 0px 15.375px 34.3677px rgba(199, 199, 199, 0.0895633), 0px 6.38599px 14.2746px rgba(199, 199, 199, 0.0605927), 0px 2.30969px 5.16283px rgba(199, 199, 199, 0.0352376);
    border-radius: 12px;
    padding: 20px;
    position: relative;
}

.item-number {
    color:rgba(85,98, 110, 0.25);
    font-size: 64px;
    line-height: 77px;
    position: absolute;
    right: 24px;
    top: -38px;
    font-family: inter-700;
}
.item-image {
    border: 1px solid #000000;
    width: 53%;
    align-self: center;
    margin-top: 22px;
}

.item-description-wrapper {
    position: relative;
}

.item-brand {
    top: -54px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 19.6px;
    font-size: 14px;
    color: #626E79;
    text-transform: uppercase;
}

.item-discount {
    text-transform: uppercase;
    position: absolute;
    top: -24px;
    background-color: #55A0EA;
    color: #fff;
    line-height: 16.8px;
    font-family: inter-500;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;
}

.item-description {
    font-family: inter-600;
    font-size: 14px;
    color: #55626E;
    margin: 66px 0 0 0;
    line-height: 19.6px;
}

.item-rating {
    position: absolute;
    right: 25px;
    top: 88px;
    width: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item-rating span {
    font-family: inter-700;
    font-size: 24px;
    color: #55626E;
    line-height: 33.6px;
}

.item-rating .rating-img {
    margin-top: 10px;
}

.item-rating .rating-info {
    position: absolute;
    cursor: pointer;
    right: 0;
}

.item-button {
    background-color: #0B76E0;
    border-radius: 12px;
    border: none;
    color: #fff;
    font-family: inter-500;
    font-size: 16px;
    padding: 10px;
    margin-top: 28px;
    line-height: 22.4px;
    width: 100%;
    cursor: pointer;
}

.item-bottom-extra{
    margin-top: 16px;
}  

.item-show-more {
    display: none;
}

.item-availability {
    font-size: 14px;
    color: #55626E;
    line-height: 140%;
}

@media(min-width: 720px) {
    body {  
        padding: 24px;
    }

    .product-label {
        width: 104px;
        height: 28px;
        font-size: 12px;
        line-height: 16.8px;
    }

    .best-value-label {
        display: flex;
    }

    .best-choice-label {
        display: none;
    }

    .item {
        height: 132px;
        flex-direction: row;
        box-sizing: border-box;
        padding: 12px 15px;
    }

    .item-number {
        font-size: 50px;
        top: -30px;
        line-height: 135%;
    }

    .item-image {
        width: 20%;
        height: auto;
        border: none;
        align-self: flex-start;
        margin-top: 7px;
        max-width: 153px;
    }

    .item-main-content {
        position: relative;
        display: flex;
        margin-left: 25px;
        flex: 1 1 auto;
    }

    .item-discount {
        display: none;
    }

    .item-description {
        font-family: inter-500;
        margin: 0;
    }

    .item-brand {
        position: initial;
        text-align: initial;
        margin-top: 4px;
        font-size: 12px;
        line-height: 16.8px;
    }

    .item-rating {
        position: relative;
        right: initial;
        top: inherit;
        margin: 23px 41px 0 18px;
    }

    .item-rating span {
        font-size: 20px;
        line-height: 28px;
    }

    .item-rating .rating-img {
        margin-top: 2px;
    }

    .item-bottom {
        margin-left: auto;
        flex-grow: 1;
    }

    .item-button {
        font-family: inter-700;
        min-width: 171px;
        padding: 8px;
        font-size: 14px;
        line-height: 19.6px;
    }

    .item-bottom-extra{
        margin-top: 13px;
    }  


    .item-show-more {
        position: absolute;
        display: flex;
        color: #55626E;
        line-height: 16.8px;
        font-family: inter-500;
        font-size: 12px;
        text-decoration: none;
        position: absolute;
        left: 0;
    }

    .item-show-more img {
        align-self: center;
        margin-left: 7px;
    }

    .item-availability {
        font-size: 12px;
        color: #626E79;
        text-align: center;
        line-height: 16.8px;
    }
}

@media(min-width: 1074px) {
    body {
        display: flex;
        justify-content: center;
    }

    .product-label {
        width: 140px;
        height: 32px;
        font-size: 16px;
        line-height: 22.4px;
    }

    .item {
        height: 176px;
        width: 1024px;
        padding: 16px 12px;
    }

    .item-number {
        font-size: 80px;
        position: initial;
        align-self: center;
    }

    .item-image {
        width: 202px;
        height: 128px;
        margin: 0 0 0 24px;
        max-width: initial;
    }

    .item-discount {
        display: block;
        margin-top: 14px;
        position: initial;
        font-size: 14px;
        line-height: 19.6px;
    }
    .item-description {
        font-family: inter-600;
        font-size: 16px;
    }

    .item-description-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .item-rating span {
        font-size: 32.82px;
        line-height: 39.38px;
    }

    .item-rating .rating-img {
        margin-top: 10px;
    }

    .item-brand {
        font-family: inter-500;
        font-size: 14px;
        line-height: 19.6px;
    }

    .item-main-content {
        margin-left: 24px;
    }

    .item-button {
        width: 246px;
        padding: 11px;
        line-height: 22.4px;
        font-size: 16px;
    }

    .item-bottom-extra{
        display: flex;
        justify-content: space-between;
        margin-top: 21px;
    }  

    .item-show-more {
        position: initial;
        line-height: 19.6px;
        font-family: inter-600;
        font-size: 14px;
    }

    .item-show-more img {
        width: 12px;
        margin-left: 5px;
    }

    .item-availability {
        font-size: 14px;
        color: #626E79;
        line-height: 19.6px;
    }

    .item-rating .rating-info {
        right: -7px;
    }
}